<div class="card-category-cinema">
  My list
</div>

<h1>List</h1>


<div class="cards">
  <% @lists.each do |list| %>
    <%= link_to(list_path(list), class: "text-decoration-none") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
        <p><%= list.name %></p>
      </div>
    <% end %>
  <% end %>
</div>
