<div class="banner">
  <div class="container">
    <h1> <strong>Check my films list</strong></h1>
    <p>All film I want to watch soon</p>
    <%= link_to "Go on", lists_path, class: "btn btn-success" %>
  </div>
</div>
