<div class="banner">
  <div class="container">
    <p><span id="dynamic-title" data-controller="typed-js"></span></p>
    <p>Choose a film</p>
    <%= link_to "Let's Start", lists_path, class: "btn btn-success" %>
  </div>
</div>
